/*NAVBAR*/
@media all and (max-width: 814px) {
  
  nav ul{
  margin-right: 0px;
  float: left;
  background: #2b005e;
  border-radius: 0 0 30px 30px;
  height: fit-content;
  top: 20px;
}
nav .logo{
  padding-left: 30px;
  width: 300px;
}
.show + a, ul{
  display: none;
}

nav ul li{
    width: 90%;
    background: #2b005e;
    border-radius: 0 0 30px 30px;
    padding: 0 40px;
}

nav ul li a{
  color:#ffffff
}

nav ul li a:hover{
  box-shadow: none;
  border-bottom: none;
}

nav ul ul{
  top: 20px;
  border-top: 0px;
  float: none;
  position: static;
  display: none;
  opacity: 1;
  visibility: visible;
  width: fit-content;
}

nav ul ul li{
  width: 280px;
  height: 50px;
}

nav ul ul a{
  padding-left: 10px;
  font-size: 14px;
  width: 80%;
}

nav ul ul li a:hover{
  font-size: 15px;
}

.show{
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 50px 15px;
  line-height: 1.6;
  cursor: pointer;
}
.show:hover{
  color: #f37800;
  font-size: 19px;
}

.icon{
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 30px;
  cursor: pointer;
  font-size: 28px;
}


[id^=btn]:checked + ul{
  display: block;
}
span.cancel:before{
  content: '\f00d';
}
}

/*CONTENT*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 479px) { 

  .logo img{
    width: 40%;
  }

    main{
    width: 90%;
    height: 320px;

  }
  
    .inner_box{
      width: 90%;
      padding: 5px 15px;
      top: 200px;
      background:rgba(207, 199, 236, 0.9)
    }
  
  .inner_box p{
    font-size: 16px;
  }

  .sec-item button a{
    font-size: 14px;
  }
  
    .inner_box strong,
    .inner_box span{
      font-size: 20px;
    }
    p.headline{
      padding: 0 0 15px 0;
      font-size: 16px;
    }
  
    .headline h1{
      margin: 20px 0;
    }
  
  .banner-item{
    margin: 180 0;
  }

  .banner-item p{
    font-size: 16px;
  }
  
  .banner-two-item{
    width: 75%;
  }

  .sec-item{
    margin-top: 2vh;
  }

  .sec-item p{
    font-size: 16px;
  }
  
  .formlink{
    font-size: 18px;
  }
  
  #story-headline{
    font-size: 25px;
    width: 80%;
    margin: 30px auto;
  }

  .story-item{
    width: 100%;
    padding: 20px;
  }

  .banner-two-item p{
    padding: 50px 0 30px 0;
  }
  
  
  .banner-two-item p,
  .person-item p{
    font-size: 16px;
  }

#banner-item-one{
  margin-top: 130px;
}

  .banner-item{
    width: 100%;
    margin: 30px auto;
  }

  .banner-item p{
    margin: auto;
    width: 60%;
  }
  
  
  .person-item h2{
    font-size: 23px;
  }
  
  .sec-item{
    width: 80%;
  }
  
    .sec-item p{
      margin-top: 0px;
  
    }
  
    .sec-item button{
      margin-left: 0;
    }
  
    .sec-item img{
      width: 70%;
    }

    .sec-item h1 strong, .sec-item h1 span{
    font-size: 25px;
    }
  
    .section-two{
      margin-top: 4vh;
    }

    .box-container h1{
      font-size: 35px;
    }
  
  .section-two h2 {
      font-size: 20px;
  }
  
    .section-two h3{
      padding: 50px 0 10px 0;
    }
    .section-two p {
      padding: 30px 0 15px 0;
  }

  .section-two h1{
    font-size: 35px;
  }
  
  .text h2{
    font-size: 40px;
  }
  .inj-item{
    width: 100%;
  }
  
  .inj-items{
    width: 100%;
    margin: 0;
  }


  .inj-item p{
    padding: 30px 15px;
  }
  .inj-items p{
    width: 90%;
    padding: 30px 10px;
  }

  .addition h2{
    font-size: 35px;
  }
  
  .gdpr-text h1{
    padding: 180px 0 20px 0;
  }
  .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  
  .footer .footer-right{
    margin-left: 30px;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  
  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }
  
  .download{
    width: 180px;
  }
  
  #signature{
    margin-left: 10vw;
  }
  
  em{
    font-size: 15px;
  }
  
  .contact-form{
    width: 100vw;
  }
  
  form#my-form{
    margin: 40px auto;
    padding-left: 50px;
    
  }

  .info-item img{
    width: 40%;
    margin-top: 50px;
  }

  .info-item p{
    font-size: 10px;
  }

  .form-control{
    width: 60vw;
  }
  
  .form-heading{
    font-size: 25px;
  }

  .g-recaptcha{
    margin: 30px 10px;
    width: 70%;
  }
  
  .note h1{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    padding: 0;
  }
  
  .gdpr-text{
    width: 70%;
  }
  #box-gdpr{
    margin-top: 0px;
    padding-top: 30px;
  }

  .gdpr-text h1{
  font-size: 30px;
  padding-top: 90px;
}

.box-container h3{
  text-align: left;
}
}

@media only screen 
and (min-device-width: 480px) 
and (max-device-width: 568px) { 
  .logo img{
    width: 70%;
  }

    main{
    width: 90%;
    height: 360px;
  }
  
    .inner_box{
      width: 90%;
      padding: 20px 15px;
      top: 240px;
      background:rgba(207, 199, 236, 0.9)
    }
  
  .inner_box p{
    font-size: 18px;
  }
  
    .inner_box strong,
    .inner_box span{
      font-size: 25px;
    }
    p.headline{
      padding: 0 0 15px 0;
      font-size: 18px;
    }
  
    .headline h1{
      margin: 20px 0;
    }
  
  .banner-item{
    margin: 180 0;
  }
  
  .banner-two-item{
    width: 75%;
  }

  .sec-item{
    margin-top: 4vh;
  }

  .sec-item p{
    font-size: 18px;
  }
  
  .formlink{
    font-size: 20px;
  }
  
  #story-headline{
    font-size: 35px;
    width: 80%;
    margin-left: 70px;
  }

  .story-item{
    width: 100%;
    padding: 20px;
  }

  .banner-two-item p{
    padding: 50px 0 30px 0;
  }
  
  
  .banner-two-item p,
  .person-item p{
    font-size: 18px;
  }

#banner-item-one{
  margin-top: 130px;
}

  .banner-item{
    width: 100%;
    margin: 40px auto;
  }

  .banner-item p{
    margin: auto;
    width: 60%;
  }
  
  
  .person-item h2{
    font-size: 23px;
  }
  
  .sec-item{
    width: 80%;
  }
  
    .sec-item p{
      margin-top: 0px;
  
    }
  
    .sec-item button{
      margin-left: 0;
    }
  
    .sec-item img{
      width: 70%;
    }

    .sec-item h1 strong, .sec-item h1 span{
    font-size: 35px;
    }
  
    .section-two{
      margin-top: 4vh;
    }
  
  .section-two h2 {
      font-size: 20px;
  }
  
    .section-two h3{
      padding: 50px 0 10px 0;
    }
    .section-two p {
      padding: 30px 0 15px 0;
  }

  .section-two h1{
    font-size: 45px;
  }
  
  .text h2{
    font-size: 40px;
  }
  .inj-item{
    width: 100%;
  }
  
  .inj-items{
    width: 100%;
    margin: 0;
  }


  .inj-item p{
    padding: 30px 15px;
  }
  .inj-items p{
    width: 90%;
    padding: 30px 10px;
  }

  .addition h2{
    font-size: 35px;
  }
  
  .gdpr-text h1{
    padding: 180px 0 20px 0;
  }
  .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  
  .footer .footer-right{
    margin-left: 30px;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  
  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }
  
  .download{
    width: 180px;
  }
  
  #signature{
    margin-left: 22vw;
  }
  
  em{
    font-size: 18px;
  }
  
  .contact-form{
    width: 90vw;
  }
  
  form#my-form{
    margin: 40px auto;
  }

  .info-item img{
    width: 40%;
    margin-top: 50px;
  }
  .form-control{
    width: 60vw;
  }
  
  .form-heading{
    font-size: 25px;
  }

  .g-recaptcha{
    margin: 30px 10px;
  }
  
  .note h1{
    width: 80%;
    margin: 0 auto;
    padding: 0px 0 0 30px;
  }
  
  .gdpr-text{
    width: 70%;
  }
  #box-gdpr{
    margin-top: 0px;
    padding-top: 30px;
  }
  }

@media only screen 
and (min-device-width: 569px) 
and (max-device-width: 768px) { 
  .logo img{
    width: 50%;
  }

    main{
    width: 95%;
    height: 490px;
  }
  
    .inner_box{
      width: 90%;
      padding: 25px;
      top: 340px;
      background:rgba(207, 199, 236, 0.9)
    }
  
  .inner_box p{
    font-size: 20px;
  }
  
    .inner_box strong,
    .inner_box span{
      font-size: 35px;
    }
    p.headline{
      padding: 0 0 15px 0;
      font-size: 20px;
    }
  
    .headline h1{
      margin: 20px 0;
    }
  
  .banner-item{
    margin: 180 0;
  }
  
  .banner-two-item{
    width: 75%;
  }
  
  .formlink{
    font-size: 20px;
  }
  
  #story-headline{
    font-size: 35px;
    width: 80%;
    margin-left: 70px;
  }

  .banner-two-item p{
    padding: 50px 0 30px 0;
  }
  
  
  .banner-two-item p,
  .person-item p{
    font-size: 18px;
  }

#banner-item-one{
  margin-top: 130px;
}

  .banner-item{
    width: 100%;
    margin: 40px auto;
  }

  .banner-item p{
    margin: auto;
    width: 60%;
  }
  
  
  .person-item h2{
    font-size: 23px;
  }
  
  .sec-item{
    width: 80%;
  }
  
    .sec-item p{
      margin-top: 0px;
  
    }
  
    .sec-item button{
      margin-left: 0;
    }
  
    .sec-item img{
      width: 70%;
    }

    .sec-item h1 strong, .sec-item h1 span{
    font-size: 35px;
    }
  
    .section-two{
      margin-top: 8vh;
    }
  
  .section-two h2 {
      font-size: 25px;
  }
  
    .section-two h3{
      padding: 50px 0 10px 0;
    }
    .section-two p {
      padding: 30px 0 15px 0;
  }

  .section-two h1{
    font-size: 45px;
  }
  
  .inj-item{
    width: 70%;
  }
  
  .inj-items{
    width: 90%;
    margin: 0;
  }


  .inj-item p{
    padding: 30px 15px;
  }
  .inj-items p{
    width: 90%;
    padding: 30px 10px;
  }

  .addition h2{
    font-size: 35px;
  }
  
  .gdpr-text h1{
    padding: 180px 0 20px 0;
  }
  .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    width: 40%;
    margin-left: 80px;
  }
  
  .footer .footer-links a{
    display: inline-block;
  }
  
  .footer .footer-logo img{
    width: 60%;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .footer .footer-left{
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .footer .footer-center{
    margin-left: 70px;
  }
  
  .footer .footer-center i {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 15px;
  }
  
  .footer .footer-right{
    margin-left: 30px;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 32px;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .download a{
    font-size: 14px;
  }
  
  .footer .footer-company,
  .copy {
    font-size: 12px;
  }
  
  .footer .footer-company {
    margin-top: 35px;
    }
  
    .footer .footer-center i.fa-envelope,
  .footer .footer-center i.fa-map-marker,
  .footer .footer-center i.fa-phone{
    display: none;
  }
  
  .download{
    width: 180px;
  }
  
  #signature{
    margin-left: 22vw;
  }
  
  em{
    font-size: 18px;
  }
  
  .contact-form{
    width: 85vw;
  }
  
  .info-item img{
    width: 40%;
    margin-top: 50px;
  }
  .form-control{
    width: 60vw;
  }
  
  .form-heading{
    font-size: 35px;
  }
  
  .note h1{
    width: 80%;
    margin: 0 auto;
    padding: 0px 0 0 30px;
  }
  
  .gdpr-text{
    width: 70%;
  }
  #box-gdpr{
    margin-top: 0px;
    padding-top: 30px;
  }
  }

@media only screen 
and (min-device-width: 769px) 
and (max-device-width: 991px) { 

  main{
  width: 95%;
  height: 490px;
}

  .inner_box{
    width: 80%;
    padding: 25px;
  }

.inner_box p{
  font-size: 20px;
}

  .inner_box strong,
  .inner_box span{
    font-size: 35px;
  }
  p.headline{
    padding: 0 0 15px 0;
    font-size: 20px;
  }

  .headline h1{
    margin: 20px 0;
  }

.banner-item{
  margin: 180 0;
}

.banner-two-item{
  width: 75%;
}

.formlink{
  font-size: 20px;
}

#story-headline{
  font-size: 35px;
  width: 80%;
  margin-left: 70px;
}
.banner-two-item p{
  padding: 50px 0 30px 0;
}


.banner-two-item p,
.person-item p{
  font-size: 18px;
}


.person-item h2{
  font-size: 23px;
}

.sec-item{
  width: 80%;
}

  .sec-item p{
    margin-top: 0px;

  }

  .sec-item button{
    margin-left: 0;
  }

  .sec-item img{
    width: 70%;
  }

  .section-two{
    margin-top: 8vh;
  }

.section-two h2 {
    font-size: 25px;
}

  .section-two h3{
    padding: 50px 0 10px 0;
  }
  .section-two p {
    padding: 30px 0 15px 0;
}

.inj-item{
  width: 60%;
}

.inj-items{
  width: 70%;
  margin: 0;
}

.addition h2{
  font-size: 35px;
}

.gdpr-text h1{
  padding: 180px 0 20px 0;
}
.footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  width: 40%;
  margin-left: 80px;
}

.footer .footer-links a{
  display: inline-block;
}

.footer .footer-logo img{
  width: 60%;
  margin-left: 0;
  margin-top: 0px;
}

.footer .footer-left{
  margin-left: 20px;
  margin-top: 50px;
}

.footer .footer-center{
  margin-left: 70px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-right{
  margin-left: 30px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.download a{
  font-size: 14px;
}

.footer .footer-company,
.copy {
  font-size: 12px;
}

.footer .footer-company {
  margin-top: 35px;
  }

  .footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

.download{
  width: 180px;
}

#signature{
  margin-left: 22vw;
}

em{
  font-size: 18px;
}

.contact-form{
  width: 65vw;
}

.info-item img{
  width: 40%;
  margin-top: 50px;
}
.form-control{
  width: 50vw;
}

.form-heading{
  font-size: 35px;
}

.note h1{
  width: 80%;
  margin: 0 auto;
  padding: 0px 0 0 30px;
}

.gdpr-text{
  width: 70%;
}

#box-gdpr{
  margin-top: 0px;
  padding-top: 30px;
}



}


@media only screen 
and (min-device-width: 992px) 
and (max-device-width: 1279px) { 

  .footer .footer-company {
  margin-top: 50px;
  }

main{
  width: 95%;
  height: 630px;
}

  .inner_box{
    width: 80%;
    top: 45%;
  }
  
  .inner_box strong, .inner_box span{
    font-size: 40px;
  }

  p.headline{
    padding: 0 0 20px 0;
    font-size: 25px;
  }

.sec-item{
  min-width: 550px;
  width: 80%;
}

.sec-item img{
  width: 70%;
}

  .sec-item p{
    margin-top: 0px;
  }

  .sec-item button{
    margin-left: 0;
  } 

.section-two h2 {
    font-size: 28px;
}

  .section-two h3{
    padding: 50px 0 10px 0;
  }
  .section-two p {
    padding: 30px 0 15px 0;
}

.inj-item{
  width: 40%;
}

.inj-items{
  width: 70%;
  margin: 0;
}

.inj-item p, .inj-items p{
  padding: 50px 20px;
}

.addition h2{
  font-size: 40px;
}

.footer .footer-logo{
  width: 18%;
}

.footer .footer-logo img{
  width: 120%;
  margin-left: 0;
  margin-top: 30px;
}

.footer .footer-left{
  margin-left: 60px;
}
.footer .footer-center{
  width: 26%;
  margin-left: 25px;
  margin-top: 20px;
}

.footer .footer-right{
  margin-left: 20px;
}

.footer .footer-center i {
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 15px;
}

.footer .footer-center i.fa-envelope {
  font-size: 15px;
  line-height: 32px;
}

.footer .footer-links a,
.footer .footer-center p,
.download a{
  font-size: 16px;
}

.footer .footer-company,
.copy {
  font-size: 14px;
}

.download{
  width: 180px;
}

#signature{
  margin-left: 15vw
}

.contact-form{
  width: 60vw;
}

.info-item img{
  width: 40%;
  margin-top: 50px;
}

.form-control{
  width: 40vw;
}

.note h1{
  width: 80%;
  margin: 0 auto;
}

.footer .footer-center i.fa-envelope,
.footer .footer-center i.fa-map-marker,
.footer .footer-center i.fa-phone{
  display: none;
}

#story-headline{
  font-size: 40px;
  margin: 50px 30px;
}

#box-gdpr{
  margin-top: 0px;
  padding-top: 30px;
}



}

@media only screen 
and (min-device-width: 1280px) 
and (max-device-width: 1366px) { 

  .footer .footer-left{
    margin-left: 0px;
  }
  .footer .footer-company {
  margin-top: 50px;
  }

main{
  width: 90%;
  height: 750px;
}

  .inner_box{
    width: 80%;
  }
  p.headline{
    padding: 0 0 20px 0;
  }

  #box-gdpr{
    margin-top: 0px;
    padding-top: 30px;
  }

  .inj-item p{
    padding: 50px 20px;
  }

  .sec-item button {
    margin-left: 60px;
  }

  .sec-item p{
    margin-top: 0;
  }

  .section-two h3{
    padding: 50px 0 10px 0;
  }
  .section-two p {
    padding: 15px 0;
}
.footer .footer-left{
  margin-left: 80px;
}

#signature{
  margin-left: 24vw
}

.note h1{
  padding: 0;
}
#call{
  visibility: hidden;
  opacity: 0;
}

form#my-form {
  margin: 70px 0px 70px 90px;
}

.addition h2 {
  font-size: 45px;

}

.gdpr-text h1{
  padding: 150px 0 20px 0;
}

}

@media only screen 
and (min-device-width: 1367px) 
and (max-device-width: 1499px) { 

main{
  width: 80%;
  height: 730px;
}

.sec-item button{
  margin-left: 90px;
}
#box-gdpr{
  margin-top: 0px;
  padding-top: 30px;
}


.section-two h3{
  padding: 70px 0 10px 0;
}

#box-gdpr{
  margin-top: 0px;
  padding-top: 30px;
}

.footer .footer-left{
  margin-left: 80px;
}

#signature {
  margin-left: 26vw;
}

.gdpr-text h1{
  padding: 150px 0 0 0 ;
}

.inj-item p{
  padding: 50px 20px;
}

form#my-form {
  margin: 70px 0px 70px 80px;
}

#call{
  visibility: hidden;
  opacity: 0;
}
}


@media only screen 
and (min-device-width: 1500px) 
and (max-device-width: 1652px) { 
p.headline{
  padding: 20px 0;
}
main{
  width: 80%;
}

.section-two h3{
  padding: 70px 0 10px 0;
}

#box-gdpr{
  margin-top: 0px;
  padding-top: 30px;
}

.footer .footer-left{
  margin-left: 80px;
}

#signature {
  margin-left: 28vw;
}

#call{
  visibility: hidden;
  opacity: 0;
}

.gdpr-text h1{
  padding: 180px 0 0 0;
}
}


/*FOOTER*/
@media all and (max-width: 814px) {
  .footer .footer-logo,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
      display: block;
      width: 100%;
      margin-left: 0;
      margin: 20px auto;
      text-align: center;
  }
  
  .footer .footer-links a,
  .footer .footer-center p,
  .footer .gdpr span,
  .download a{
  font-size: 14px;
  }

.footer .footer-logo{
  width: 50%;
}

  .footer .footer-links a{
    display: inline-block;
  }

  .footer .footer-company,
  .copy {
    font-size: 10px;
  }

  .footer .footer-links,
  .footer .footer-company,
  .footer .gdpr span {
    text-align: center;
  }


}


@media only screen 
and (min-device-width:1654px)
and (max-device-width:4000px){

  #call{
    visibility: hidden;
    opacity: 0;
  }
}