*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Quicksand',Helvetica, Arial,sans-serif;
    color: #2b005e;
    line-height: 1.6;
    font-size: 16px;
    text-decoration: none;
  }
section{
    width: 100%;
    background: #333;
    display: inline-block;
    height: 50vh;
    text-align: center;
    padding: 50px;
    text-decoration: underline;
    font-size: 36px;
    color:#2b005e;
}

.footer{
    background-image: linear-gradient(60deg, #f37800 50%, #f39200 50%);
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 40px 50px;
}
.footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer h3{
    color:#ffffff;
    font-size: 36px;
    margin: 0;
}
.footer-logo{
    width: 20%;
}
.footer img{
    width: 80%;
    margin-left: 20px;
}

.footer .footer-left{
    width: 20%;
    margin-left: 170px;
}

.footer .footer-links{
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .footer-links a{
    display: block;
    line-height: 1.8;
    font-weight: 400;
    color: inherit;
    margin-right: 8px;
}

.footer .footer-links a:hover{
color: #2b005e;
}

.footer .footer-company{
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin-top:80px;
}

.footer .footer-center{
    width: 25%;
}

.footer .footer-center i{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin: 15px 15px;
    vertical-align: middle;
    background: #ffffff;
    font-size: 22px;
    color: #f37800;
}

.footer .footer-center i.fa-envelope{
    font-size: 20px;
    line-height: 37px;
} 

.footer .footer-center p{
    display: inline-block;
    color: #fff;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p a{
    color: #ffffff;
}

.footer .footer-center p a:hover{
    color: #2b005e;
}

.footer .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-links a:before{
    content: "|";
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    padding-right: 5px;
    left: 0;
}

.footer .footer-right{
    width: 20%;
    margin-top: 20px;
    margin-left: 50px;
}

.footer .gdpr{
    line-height: 20px;
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer .gdpr span{
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.download{
    background-color: #2b005e;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
}

.download a{
    color: #ffffff;
}
    
.download:hover{
    background-color: #f37800;
}

hr{
    border: 1px solid #ffffff;
    width: 100%;
    opacity: 0.4;
  }

.copy{
    color: #ffffff;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }


/* RESPONSIVE */

@media all and (max-width: 814px) {
.footer{
    font-size: 14px;
}

.footer .footer-logo,
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
    display: block;
    width: 100%;
    margin-left: 0;
    margin: 20px auto;
}

.footer .footer-links a{
    display: inline-block;
}
}
